#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.container
{
  margin-top: 30px;
  display: flex;
  padding: 20px;
  background-color:rgb(240, 240, 239);
  box-shadow: 5px 5px 5px  rgba(0,0,0,0.6);
  border-radius: 8px ;
  align-items: center;
  text-align: center;
}
.getcontainer
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
input
{
  padding: 7px;
  margin:10px 0px;
}
input::placeholder
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(99, 96, 96);

}
